@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 74% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 68% 12%;
    --primary: 206 65% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 200 36% 52%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 226.7, 90%, 4.7%;
    --foreground: 210 20% 98%;
    --card: 224 60% 7%;
    --card-foreground: 210 20% 80%;
    --popover: 224, 22%, 21%;
    --popover-foreground: 210 20% 90%;
    --primary: 206 65% 48%;
    --primary-foreground: 210 20% 100%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 200 36% 52%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 43% 50%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
    @apply border-border;
    @apply bg-background text-foreground;
  }
}

#radix-\:r5\: > button {
  @apply hidden;
}