@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 194 50% 10%;
  --foreground: 194 5% 90%;
  --card: 194, 62%, 6%;
  --card-foreground: 194 5% 90%;
  --popover: 194 50% 5%;
  --popover-foreground: 194 5% 90%;
  --primary: 194 78% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 194 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 156 30% 25%;
  --muted-foreground: 194 5% 65%;
  --accent: 156 30% 25%;
  --accent-foreground: 194 5% 90%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 194 5% 90%;
  --border: 194 30% 50%;
  --input: 194 30% 50%;
  --ring: 194 78% 42%;
  --radius: 0.5rem;
}
.dark  {
  --background: 194 60% 95%;
  --foreground: 194 5% 10%;
  --card: 194 50% 90%;
  --card-foreground: 194 5% 15%;
  --popover: 194 60% 95%;
  --popover-foreground: 194 95% 10%;
  --primary: 194 78% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 194 30% 87%;
  --secondary-foreground: 0 0% 0%;
  --muted: 156 30% 87%;
  --muted-foreground: 194 5% 40%;
  --accent: 156 30% 87%;
  --accent-foreground: 194 5% 15%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 194 5% 90%;
  --border: 194 30% 82%;
  --input: 194 30% 50%;
  --ring: 194 78% 42%;
  --radius: 0.5rem;
}

}

@layer base {
  body {
    @apply border-border;
    @apply bg-background text-foreground;
  }
}